<html>

<link rel="stylesheet" href="{{url_for('static', filename='styles/style.css')}}">

<body background="{{url_for('static', filename='img/dust.png')}}">
    <div class="description">
        <center>
            <p class="title-keterangan">Hasil Prediksi</p>

            {%if data == 0%}
            <p class="patient-non-risk">Pasien <b class="non-risk">TIDAK MEMILIKI RISIKO</b> kematian akibat penyakit jantung.</p>

            {%else%}
            <p class="patient-have-risk">Pasien <b class="have-risk">MEMILIKI RISIKO</b> kematian akibat penyakit jantung.</p>

            {%endif%}

            <br><br>
            <a href='/' class="kembali">Kembali ke Form Pengisian</a>
        </center>
    </div>
</body>

</html>